<% @allmovies.each do |slice| %>
	<div class = "firstbite_row">

		<div class = "firstbite_movieposter" id = "first_poster">
			<%= image_tag(slice.at(0).url) %>
		</div>



		<div class = "firstbite_movieposter" id = "second_poster">
			<%= image_tag(slice.at(1).url) %>
		</div>

		<br>
	</div>
<% end %>

<script type = "text/javascript">


	$('.firstbite_movieposter').click( function() {

		var div = $(this);

		if (div.attr("id") == "first_poster")
		{
			
			var second = $('#second_poster', $(this).parent());

			$(second).fadeTo(500,.25);
			$(this).fadeTo(500,1);

			
		}
		else if (div.attr("id") == "second_poster")
		{

			var first = $('#first_poster', $(this).parent());

			$(first).fadeTo(500,.25);
			$(this).fadeTo(500,1);

		}

		
	});



</script>

