<h1 id = "firstbite_title">Choose</h1>
<br>
<br>
<body id="firstbite_background">
	
		<%= render 'firstbite_movies'  %>

</body>


<script type = "text/javascript">
move();
alert('yup')
$(window).scroll(function () {
    move();
});
</script>