<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <body>
  	<img src="http://s29.postimg.org/gnb20g9g7/logo.png" height="100" width="100">
  	<img src="http://s1.postimg.org/vsyboos0f/name_logo.png" height="100" width="240">
  	<p>taste the future.</p>
  </body>
 </html>
