<div class = "pages">
	<div id = "select_bar">
	</div>
	<div class = "pages_option" id = "newsfeed_page">
		News
	</div>
	<br>
	<div class = "pages_option" id = "movies_page">
		Movies
	</div>
	<br>
	<div class = "pages_option" id = "music_page">
		Music
	</div>
	<br>
	<div class = "pages_option" id = "television_page">
		Television
	</div>
	<br>
	<div class = "pages_option" id = "events_page">
		Events
	</div>
</div>

<script>
	$('#newsfeed_page').click( function() {
		$('#select_bar').animate( {
			'bottom': "0px"
		});
	});
	$('#movies_page').click( function() {
		$('#select_bar').animate( {
			'bottom': "-40px"
		});
	});
	$('#music_page').click( function() {
		$('#select_bar').animate( {
			'bottom': "-80px"
		});
	});
	$('#television_page').click( function() {
		$('#select_bar').animate( {
			'bottom': "-120px"
		});
	});
	$('#events_page').click( function() {
		$('#select_bar').animate( {
			'bottom': "-160px"
		});
	});
</script>