<div id = "feed_profile_pic">
	<%= link_to gravatar_for(current_user, size: 52), current_user %>
</div>

<h1>
	<span id = "feed_profile_name">
	  <%= link_to current_user.name, current_user, {style: 'color:#666666'} %>
	</span>
</h1>

<!--
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
-->