@import "bootstrap";
body {
  background: url() ;
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ddd), to(white));
  background-repeat:no-repeat;
  background-attachment:fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.home_page {
  margin-left: 220px;
}

.navbar_text {
  font-family: "Raleway-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  display: inline-block;
}

#movie_f_sidebar {
  position:fixed;
  background-color: #fefefe;
  height: 600px;
  width: 200px;
  left:1200px;
  margin-top: -300px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #cbcbcb;
}

.friends_sidebar {
  position:fixed;
  background-color: #fefefe;
  height: 600px;
  width: 200px;
  left:1200px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #cbcbcb;
}

#f_side_title {
  width:80px;
  margin-left: 30px;
  font-family: "Raleway-ExtraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  font-size: 30px;
  margin-top: 30px;
}

.tastebuds {
  margin-top: 20px;
  height: 30px;

}

.tastebud {
  margin-bottom: 50px;
  margin-left: 20px;
  font-family: "Raleway-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

.tastebud_gravatar {
  height: 20px;
}

#taste_hr {
  border: 0;
  height: 1px;
  margin-left: 50px;
  margin-bottom: 35px;
  width:100px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: -30px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.dropdown-toggle {
  margin-right: 160px;
}

.dropdown-menu {
  margin-right: 160px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;

  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 4px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.span4 {
  width:220px;
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 10px;
}


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  border-radius: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}



#homepage {
  background-image: -webkit-gradient(linear, center top, center bottom, from(#222222), to(white));
}

.home_button {
  margin-left: 125px;
  margin-top: 0px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* User profile page */

.taste_profile {

  height: 125px;
  width: 1000px;
  background: #D0D0D0;
  border-radius: 10px;
  margin: auto;
  padding-top: 5px;
  padding-left: 5px;

}

.column_1_user {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
  float: left;
}

.column_2_user {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
}


.pin_user {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FEFEFE;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 5px 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  /*background: -webkit-linear-gradient(45deg, #FFF, #DFDFDF); */
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  width: 500px;
  border-radius: 3px;
  opacity: 1;
 
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}


.profile_bits {

  height: 105px;
  width: 105px;
  background: #1E90FF;
  border-radius: 10px;
}

.profile_bits_text {
  font-family: Impact;
  font-size: 50px;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50px;
  float:left;
  width: 150px;
}

#five_movies {
  
}

#five_artists {
}


#five_celebs {

}

.five_text {
  margin-left: 15px;
  font: 20px "Raleway-Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  margin-bottom: 10px;

}

.profile_page_movie {
  margin-right: 20px;
  margin-bottom: 0px;
}

.profile_page_artist {
  margin-right: 20px;
  margin-bottom: 0px;

}

.profile_page_movie_poster {
  height: 120px;
  width: 80px;
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}

.profile_page_movie_title {
  font: 12px "Raleway-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  margin-bottom: 0px;
  display: block;
}


.profile_page_artist_poster {
  height: 100px;
  width: 80px;
  float: left;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.profile_page_artist_name {
  font: 12px "Raleway-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;

  float:bottom;
}




/* microposts / palate recommendations */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.palate_recommendations {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 60px;
    width: 200px;
    margin-bottom: 5px;
  }
}



/* pinterest-esque  newsfeed*/


#wrapper {

}


.container {
  width:1200px;
  margin-left: 100px;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 3;
  column-gap: 10px;
  column-fill: balance;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 5px 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  width: 240px;
  padding: 5px 5px 5px 5px;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin_new_post {
  background: #FEFEFE;
  border: 2px solid #FEFEFE;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 5px 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 35px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  border-radius: 10px;
  opacity: 1;
 
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#new_post_submit {
  float: right;
}


#person {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#words {
  font-family: "HelveticaNeue", Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
}

#timeago {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 10px;
  color: #666;
}

.hr {
  clear: both;
}

.feed_gravatar {
  height:50px;
  width: 50px;
  float: left;
  margin-right: 5px;
}

#feed_profile_pic {
  height: 50px;
  width: 50px;
  float: left;
}

#feed_profile_name {
  font-size: 16px;
}

#feed_content {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#feed_left_column {
  margin-right: 0px;
  position: fixed;
}

#feed_main_column {
  margin-left: 0px;
}

.feed_new_post {

}

#new_post_filed {

}

#username a {
  font: 16px "Raleway-Medium", "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333333;
  text-decoration: none;

}

.spotify_play {
}

/* ratings */
.rating_dot
{
  height: 8px;
  width: 8px;
  float: left;
  margin: 1px 1px 1px 1px;
}

.rating_dot input
{
  height: 8px;
  width: 8px;
  float: left;
  margin: 1px 1px 1px 1px;
  border: none;
  outline: none;
}


.personal_rating {
}

.red_dot {
}

.yellow_dot {
}

.green_dot {
}

.blue_dot {
}

.purple_dot {
}

.hidden_dot {
  opacity: 0;
}







/* left bar */
.pages {
  width: 80px;
  position: relative;
}

.pages_option {
  color: #666666;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial";
  margin-left: 10px;
}

#movies_page {

}

#music_page {

}

#television_page {

}

#events_page {

}

#select_bar {
  position: relative;
  float: left;
  background-color : #0099FF;
  height: 20px;
  width: 4px;
  left: 0px;

}








/* firstbite */

#firstbite_title {
  font: bold 30px "Century Schoolbook", Georgia, Times, sans-serif;
  color: black;
  line-height: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  letter-spacing: -2px;
}

.movie_title:first-letter {
  text-transform: uppercase;
}

.movie_title {
  /*text-shadow: 2px 4px 3px ;*/
  color: #333;
  font-family: "Raleway","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  font-size: 12pt;
  margin-top: -30px;

}


.firstbite_movieposter {
  height: 200px;
  width: 110px;
  margin-right: auto;
  margin-left: auto;

}

#firstbite_background {
  background-image: -webkit-gradient(linear, center top, center bottom, from(#222222), to(white));

}

.movie_image {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(rgba(255,255,255,0.35)));
 border:1px outset #ccc;
 
}

.movie_and_title {
  display: inline-block;
  height: 225px;
  width: 200px;

}

.movie_area {
  margin-left: auto;
  margin-right: auto;
}



.question_mark {
  height: 40px;
  padding-left: 90px;
  padding-top: 200px;

}

.firstbite_done_button {
  height: 80px;
  padding-left: 500px;
  padding-top: 200px;
}



#media_title {
  /*
  font: bold 20px "Century Schoolbook", Georgia, Times, serif;
  */
  font: 20px "Raleway-Light","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  color: #333333;
}

.artist_title a {
  font: 14px "Raleway-ExtraLight","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  color: #333333;
  text-decoration: none;
}

#firsbite_options_container {

}

#firstbite_select_bar {
  position: relative;
  background-color : #0099FF;
  height: 5px;
  width: 78px;
  margin-left: 237px;
  margin-bottom: 5px;
}

.firstbite_option {
  color: #666666;
  font-size: 26px;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial";
  display:inline;
  margin-right: 90px;
}

#firstbite_container {
  position: relative;
  left: 22px;
}

#movies_firstbite {
  margin-left: 237px;
}

#music_firstbite {

}

#television_firstbite {

}

#events_firstbite {

}


/* Movie Profile */

.profile_movieposter {
  height: 300px;
  width: 200px;
}

.profile_page_artist_image {
  width: 80px;
}

.profile_movie {
  height: 400px;
  width: 200px;
}

#transition_text {
  height: 300px;
  width: 900px;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 300px;




}

#summary_title {
  background-color: #212121;
  height: 70px;
  width:1000px;
  margin-left: 80px;
  font-size: 35px;
  font-family: "Raleway-Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#summary {
  background-color: #767676;
  margin-left: 80px;
  height: 200px;
  width: 900px;
  font-size: 24px;
  font-family: "Raleway-Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}



.profile_movie_title {
   color: #333;
  font-family: "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  text-transform: lowercase;
  font-size: 12pt;
  font-variant: small-caps;
  font-weight: bold;
  top: -50px;
}

.column_1_movie {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
  float: left;
}

.column_2_movie {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
}

.movie_poster_profile {
  height: 60px;
  width: 60px;
}


/* adaptive background */

.imageArea {
  height:250px;
  width: 1000px;
  margin-bottom: 50px;
  padding-top: 20px;


}

.imageAreaUser {
  height:200px;
  width: 1200px;
  margin-bottom: 60px;
  padding-top: 20px;


}

/* line 133, ../sass/app.sass */
.imageSection {
  margin-bottom: 50px;
  margin-top: 25px;
  height:200px;
  width:750px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  float: left;

}


/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */


.ratingSection {
  float:left;
  margin-top: 25px;
  margin-left: 40px;
  width:200px;
  height:200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
}


/* line 138, ../sass/app.sass */
.imageSection .imageWrap {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;

  height: 300px;
  float: left;
  margin-top: -25px;
  margin-right: 20px;

}
/* line 145, ../sass/app.sass */
.imageSection .imageWrap .targetImage {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;

  height: 250px;
}
/* line 147, ../sass/app.sass */
.imageSection .colors {
  margin-top: 20px;
  width: 400px;
  float: left;
}
/* line 151, ../sass/app.sass */
.imageSection .colors .function {
  clear: left;
  margin-bottom: 10px;
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.imageSection .colors .function:after {
  content: "";
  display: table;
  clear: both;
}
/* line 155, ../sass/app.sass */
.imageSection .colors .function .swatches .swatch {
  width: 40px;
  height: 20px;
  margin-right: 2px;
  background: #dddddd;
  float: left;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 162, ../sass/app.sass */
.imageSection .colors .function .swatches .swatch:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -webkit-box-shadow: 0 1px 10px black;
  -moz-box-shadow: 0 1px 10px black;
  box-shadow: 0 1px 10px black;
}
/* line 166, ../sass/app.sass */
.imageSection .colors .function .swatches .swatch:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 168, ../sass/app.sass */
.imageSection .colors .function .swatches .swatch:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rb_swatches {
  background-color: #0f0;
  height:20px;
}

.right_banner {
  height:200;
  width:10px;
  float:right;
  display: inline-block;
}

#movie_page_info {
  height: 200px;
  width: 500px;
  display: inline-block;
}

#movie_page_title {
  margin-top: 40px;
  margin-left: 30px;
  font-size: 40px;
  font-family: "Raleway-Medium","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  float:left;
  line-height: 50px;

}

#movie_page_year {
  float:left;
  margin-top:55px;
  margin-left: 30px;
  font-size: 30px;
  font-family: "Raleway-Light","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;


}

#movie_page_critics_rating {
  margin-top: 40px;
  margin-left: 30px;
  font-size: 40px;
  font-family: "Raleway","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  float:left;

}

.right_banner #color_1 {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.right_banner #color_10 {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* artist */

.column_1_artist {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
  float: left;
}

.column_2_artist {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
}
#artist_page_info {
  height: 200px;
  width: 200px;
  display: inline-block;
}

#artist_page_name {
  margin-top: 40px;
  margin-left: 30px;
  width: 250px;
  font-size: 40px;
  font-family: "Raleway-Medium","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  float:left;
  height: 60px;
  line-height: 50px;
  margin-bottom: 25px;

}

#artist_page_twitter_handle {
  float:left;
  margin-top:20px;
  margin-left: 30px;
  font-size: 30px;
  font-family: "Raleway-Light","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  line-height: 30px;


}

#user_page_name {
  margin-top: 40px;
  margin-left: 30px;
  width: 250px;
  font-size: 30px;
  font-family: "Raleway-Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  float:left;
  height: 60px;
  line-height: 30px;


}

#user_page_twitter_handle {
  float:left;
  margin-left: 30px;
  font-size: 20px;
  font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  line-height: 10px;
  white-space: nowrap;


}

#artist_page_id {
  margin-top: 40px;
  margin-left: 30px;
  font-size: 40px;
  font-family: "Raleway","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  float:left;

}


.one-edge-shadow {
  -webkit-box-shadow: 0px 0px 25px -0px #363636;
     -moz-box-shadow: 0px 0px 25px -8px #363636;
          box-shadow: 0px 0px 25px -8px #363636;
}

.two-edge-shadow {
  -webkit-box-shadow: 0px 0px 10px -5px #363636;
     -moz-box-shadow: 0px 0px 10px -5px #363636;
          box-shadow: 0px 0px 10px -5px #363636;
}

/* user */
#user_page_taste {

}

.button-holder {
  height:44px;
  width:126px;
  float:left;
}

.imageSectionUser {
  margin-bottom: 50px;
  margin-top: 25px;
  height:150px;
  width:800px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;

}


/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */


.ratingSectionUser {
  float:right;
  margin-top: 25px;
  margin-right: 120px;
  width:230px;
  height:150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
}

/* line 138, ../sass/app.sass */
.imageSectionUser .imageWrap {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;

  height: 200px;
  float: left;
  margin-top: -25px;
  margin-right: 20px;

}
/* line 145, ../sass/app.sass */
.imageSectionUser .imageWrap .targetImage {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;

  height: 200px;
}
/* line 147, ../sass/app.sass */
.imageSectionUser .colors {
  margin-top: 20px;
  width: 400px;
  float: left;
}
/* line 151, ../sass/app.sass */
.imageSectionUser .colors .function {
  clear: left;
  margin-bottom: 10px;
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.imageSectionUser .colors .function:after {
  content: "";
  display: table;
  clear: both;
}
/* line 155, ../sass/app.sass */
.imageSectionUser .colors .function .swatches .swatch {
  width: 40px;
  height: 30px;
  margin-right: 2px;
  background: #dddddd;
  float: left;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 162, ../sass/app.sass */
.imageSectionUser .colors .function .swatches .swatch:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -webkit-box-shadow: 0 1px 10px black;
  -moz-box-shadow: 0 1px 10px black;
  box-shadow: 0 1px 10px black;
}
/* line 166, ../sass/app.sass */
.imageSectionUser .colors .function .swatches .swatch:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 168, ../sass/app.sass */
.imageSectionUser .colors .function .swatches .swatch:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rb_swatches_user {
  background-color: #0f0;
  height:15px;
}

.right_banner_user {
  height:150;
  width:10px;
  float:right;
  display: inline-block;
}
