@import "bootstrap";
body {
  background: url() ;
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ddd), to(white));
  background-repeat:no-repeat;
  background-attachment:fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;

  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 4px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.span4 {
  width:220px;
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 10px;
}


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  border-radius: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

#homepage {
  background-image: -webkit-gradient(linear, center top, center bottom, from(#222222), to(white));
}

.home_button {
  margin-left: 125px;
  margin-top: 0px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* User profile page */

.taste_profile {

  height: 125px;
  width: 1000px;
  background: #D0D0D0;
  border-radius: 10px;
  margin: auto;
  padding-top: 5px;
  padding-left: 5px;

}

.column_1_user {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
  float: left;
}

.column_2_user {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
}


.pin_user {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FEFEFE;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 5px 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  /*background: -webkit-linear-gradient(45deg, #FFF, #DFDFDF); */
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  width: 500px;
  border-radius: 3px;
  opacity: 1;
 
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}


.profile_bits {

  height: 105px;
  width: 105px;
  background: #1E90FF;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}

.profile_bits_text {
  font-family: Impact;
  font-size: 50px;
  color: #D0D0D0;
  margin: 10px 10px 10px 5px;
  padding: 40px 10px 10px 2px;
}

#five_movies {
}


#five_artists {
}


#five_celebs {

}

.five_text {
  margin-left: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 25px;
  margin-bottom: 10px;

}

.profile_page_movie {
  margin-right: 20px;
  margin-bottom: 0px;
}

.profile_page_movie_poster {
  height: 120px;
  width: 80px;
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}

.profile_page_movie_title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  margin-bottom: 0px;
  display: block;
}

.profile_page_artist {
  margin-right: 20px;
  margin-bottom: 0px;
}

.profile_page_artist_poster {
  height: 100px;
  width: 80px;
  float: left;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.profile_page_artist_name {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  margin-top: 0px;
  display: block;
}




/* microposts / palate recommendations */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.palate_recommendations {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 60px;
    width: 200px;
    margin-bottom: 5px;
  }
}



/* pinterest-esque  newsfeed*/


#wrapper {

}


.container {
  width:1050px;
  margin-left: 100px;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 3;
  column-gap: 10px;
  column-fill: balance;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 5px 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
 
  padding: 5px 5px 5px 5px;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin_new_post {
  background: #FEFEFE;
  border: 2px solid #FEFEFE;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 5px 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 35px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  border-radius: 10px;
  opacity: 1;
 
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#new_post_submit {
  float: right;
}


#person {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#words {
  font-family: "HelveticaNeue", Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
}

#timeago {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 10px;
  color: #666;
}

.hr {
  clear: both;
}

.feed_gravatar {
  height:50px;
  width: 50px;
  float: left;
  margin-right: 5px;
}

#feed_profile_pic {
  height: 50px;
  width: 50px;
  float: left;
}

#feed_profile_name {
  font-size: 16px;
}

#feed_left_column {
  margin-right: 0px;
}

#feed_main_column {
  margin-left: 0px;
}

.feed_new_post {

}

#new_post_filed {

}



#username {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.spotify_play {
}

.rating_dot
{
  height: 8px;
  width: 8px;
  float: left;
  margin: 1px 1px 1px 1px;
}

.rating_dot input
{
  height: 8px;
  width: 8px;
  float: left;
  margin: 1px 1px 1px 1px;
  border: 0;
}


.personal_rating {
}

.red_dot {
}

.yellow_dot {
}

.green_dot {
}

.blue_dot {
}

.purple_dot {
}

.pages {
  width: 80px;
  position: relative;
}

.pages_option {
  color: #666666;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial";
  margin-left: 10px;
}

#movies_page {

}

#music_page {

}

#select_bar {
  position: relative;
  background-color : #0099FF;
  height: 20px;
  width: 7px;
  float: right;

}








/* firstbite */

#firstbite_title {
  font: bold 30px "Century Schoolbook", Georgia, Times, sans-serif;
  color: black;
  line-height: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  letter-spacing: -2px;
}

.movie_title:first-letter {
  text-transform: uppercase;
}

.movie_title {
  /*text-shadow: 2px 4px 3px ;*/
  color: #333;
  font-family: "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  text-transform: lowercase;
  font-size: 12pt;
  font-variant: small-caps;
  font-weight: bold;
  margin-top: -30px;

}


.firstbite_movieposter {
  height: 200px;
  width: 110px;
  margin-right: auto;
  margin-left: auto;

}

#firstbite_background {
  background-image: -webkit-gradient(linear, center top, center bottom, from(#222222), to(white));

}

.movie_image {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(rgba(255,255,255,0.35)));
 border:1px outset #ccc;
 
}

.movie_and_title {
  display: inline-block;
  height: 225px;
  width: 200px;

}

.movie_area {
  margin-left: auto;
  margin-right: auto;
}



.question_mark {
  height: 40px;
  padding-left: 90px;
  padding-top: 200px;

}

.firstbite_done_button {
  height: 80px;
  padding-left: 500px;
  padding-top: 200px;
}


#media_title {
  font: bold 20px "Century Schoolbook", Georgia, Times, serif;

}

#firsbite_options_container {

}

#firstbite_select_bar {
  position: relative;
  background-color : #0099FF;
  height: 5px;
  width: 78px;
  margin-left: 237px;
  margin-bottom: 5px;
}

.firstbite_option {
  color: #666666;
  font-size: 26px;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial";
  display:inline;
  margin-right: 90px;
}

#firstbite_container {
  position: relative;
  left: 22px;
}

#movies_firstbite {
  margin-left: 237px;
}

#music_firstbite {

}

#television_firstbite {

}

#events_firstbite {

}
