<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">

      <%= link_to image_tag("logo.png", alt: "logo", height:'50', width:'50'), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
        </ul>
      </nav>

  </div>
</header>
